<!doctype html>
<body background="{{ url_for('static', filename='hello.jpeg') }}">

<center><title>Python Flask File Upload Example</title></center>
<center><h2 style="color:red;">Select a file to upload</h2></center>


<form method="post" action="/upload" enctype="multipart/form-data">
    <div class="form-group">
        <center><label for="exampleFormControlFile1" style="color:white;">Example file input</label></center>
        <center><input type="file" name="file" autocomplete="off" required class="form-control-file" id="exampleFormControlFile1"></center>
        <center><input type="submit" name="shoot" value="Select" class="btn btn-primary btn btn-info" id="submit-id-signup"/></center>
    </div>
</form>